// スクロール
.scroll_bar {
  overflow-y: scroll;
  overflow-x: hidden;
}
.scroll_bar::-webkit-scrollbar {
}
.scroll_bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #888;
}
