//カラー一覧
$primary-color: #6750a4;
$on-primary-color: #ffffff;
$primary-container: #eaddff;
$on-primary-container: #21005d;

//Suface colors
$surface: #fef7ff;
$on-surface: #1d1b20;
$surface-variant: #e7e0ec;
$on-surface-variant: #49454f;

//フォントサイズ
