/* scss */

.chStyle 
{
    root: {
      boxShadow: 'none';
      textTransform: 'none';
      fontSize: 18;
      padding-top: '3px';
      padding-bottom: '3px';
      margin-left: 0;
      border: '4px solid rgba(0;0;0;0)';
      border-top-right-radius: "10ch";
      border-bottom-right-radius: "10ch";
      border-left: 0;
      line-height: 0.2;
      width: "90%";
    }

      &:hover {
        background-Color: '#33bbff';
        box-shadow: '2';
      }
      &:active {
        box-Shadow: 'none';
        background-Color: '#0062cc';
        border-Color: '#005cbf';
      }
      &:focus {
        box-Shadow: '0 0 0 0.2rem rgba(0;123;255;.5)';
      }
}